<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sleepkerapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_apk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_apk_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepkerApp">
        <activity android:name="com.example.sleepkerapp.Mood">
        </activity>
        <activity android:name="com.example.sleepkerapp.Analysis"
            />
        <activity android:name="com.example.sleepkerapp.Tracker"/>
        <activity android:name="com.example.sleepkerapp.UserSettings"/>
        <activity android:name="com.example.sleepkerapp.Recording"/>
        <activity android:name="com.example.sleepkerapp.Clock"/>
        <activity android:name="com.example.sleepkerapp.Welcome"/>
        <activity android:name="com.example.sleepkerapp.ForgotPass"/>
        <activity android:name="com.example.sleepkerapp.Login"/>
        <activity android:name="com.example.sleepkerapp.Assessment"/>
        <activity android:name="com.example.sleepkerapp.Signup"/>
        <activity android:name="com.example.sleepkerapp.Todo"/>
        <activity android:name="com.example.sleepkerapp.LoginActivity"/>
        <activity android:name="com.example.sleepkerapp.WeeklyReport"/>
        <activity android:name="com.example.sleepkerapp.SleepData"/>
        <activity android:name="com.example.sleepkerapp.Music"/>
        <activity android:name="com.example.sleepkerapp.Statistic"/>
        <activity android:name="com.example.sleepkerapp.NavigationActivity"/>
        <activity android:name="com.example.sleepkerapp.Settings"/>
        <activity android:name="com.example.sleepkerapp.Password"/>
        <activity android:name="com.example.sleepkerapp.AboutUs"/>
        <activity android:name="com.example.sleepkerapp.Terms"/>
        <activity android:name="com.example.sleepkerapp.Manual"/>


        <activity android:name="com.example.sleepkerapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.sleepkerapp.ForegroundService"/>
        <service android:name="com.example.sleepkerapp.MyService"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>